n8n-workflows/workflow_trip_planner_v2.json
{
  "updatedAt": "2026-07-18T19:31:39.207Z",
  "createdAt": "2026-07-18T19:31:39.207Z",
  "id": "JFo1LesPFGVpNNf6",
  "name": "Tool: Trip Planner V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Execute Workflow Trigger').first().json.userMessage }}{{ $('Execute Workflow Trigger').first().json.latitude ? '\\n[User location: ' + $('Execute Workflow Trigger').first().json.latitude + ', ' + $('Execute Workflow Trigger').first().json.longitude + ']\\n[Coordinates provided: Yes]' : '\\n[Coordinates provided: No]' }}",
        "options": {
          "systemMessage": "You are a transit intent extractor for Kochi Metro, Kerala, India.\n\nExtract travel intent from the user message and return ONLY a raw JSON object. No markdown. No backticks. No explanation. Just JSON.\n\nKochi Metro stations — if the user mentions any, use EXACT name from this list:\nAluva, Pulinchodu, Companypady, Ambattukavu, Muttom, Kalamassery, Cochin University, Pathadipalam, Edapally, Changampuzha Park, Palarivattom, JLN Stadium, Kaloor, Town Hall, MG Road, Maharajas College, Ernakulam South, Kadavanthra, Elamkulam, Vyttila, Thykoodam, Pettah, Vadakkekotta, SN Junction, Tripunithura\n\nReturn this exact JSON:\n{\n  \"destination_place\": string,\n  \"destination_is_station\": boolean,\n  \"origin_place\": string or null,\n  \"origin_is_station\": boolean,\n  \"passengers\": number,\n  \"requested_arrival_time\": string or null,\n  \"requested_departure_time\": string or null,\n  \"is_location_shared\": boolean\n}\n\nRules:\n- destination_place: where they want to go. Metro station → exact name from list. Real place → common name only, no address.\n- destination_is_station: true only if destination is one of the 25 stations above\n- origin_place: null if they shared GPS. Only fill if they explicitly named an origin.\n- origin_is_station: true only if origin is one of the 25 stations\n- passengers: default 1 if not mentioned\n- requested_arrival_time: 24hr format like 22:30 or null if they want to arrive BY a time\n- requested_departure_time: 24hr format like 08:00 or null if they want to leave AT a certain time (e.g., tomorrow at 8am -> \"08:00\")\n- is_location_shared: true if message contains coordinates, mentions sharing location, or if [Coordinates provided: Yes] is present\n\nExamples:\nInput: I want to go to Lulu Mall, 2 people\nOutput: {\"destination_place\":\"Lulu Mall\",\"destination_is_station\":false,\"origin_place\":null,\"origin_is_station\":false,\"passengers\":2,\"requested_arrival_time\":null,\"is_location_shared\":false}\n\nInput: Take me from Aluva to MG Road\nOutput: {\"destination_place\":\"MG Road\",\"destination_is_station\":true,\"origin_place\":\"Aluva\",\"origin_is_station\":true,\"passengers\":1,\"requested_arrival_time\":null,\"is_location_shared\":false}\n\nInput: Need to reach General Hospital by 10:30pm, 3 people\nOutput: {\"destination_place\":\"General Hospital Kochi\",\"destination_is_station\":false,\"origin_place\":null,\"origin_is_station\":false,\"passengers\":3,\"requested_arrival_time\":\"22:30\",\"requested_departure_time\":null,\"is_location_shared\":false}\n\nInput: Tomorrow at 8am from Aluva to Lulu Mall\nOutput: {\"destination_place\":\"Lulu Mall\",\"destination_is_station\":false,\"origin_place\":\"Aluva\",\"origin_is_station\":true,\"passengers\":1,\"requested_arrival_time\":null,\"requested_departure_time\":\"08:00\",\"is_location_shared\":false}\n\nInput: Vyttila to Tripunithura\nOutput: {\"destination_place\":\"Tripunithura\",\"destination_is_station\":true,\"origin_place\":\"Vyttila\",\"origin_is_station\":true,\"passengers\":1,\"requested_arrival_time\":null,\"is_location_shared\":false}"
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Extract Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -64
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-omni-30b-a3b-reasoning",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "NVIDIA Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatNvidia",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "credentials": {
        "nvidiaApi": {
          "id": "TbaTz8LXFvQujHk2",
          "name": "NVIDIA Nemotron account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output ?? $input.item.json.text ?? $input.item.json.message ?? '';\nconst cleaned = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\nlet intent;\ntry { intent = JSON.parse(cleaned); } catch(e) { intent = { destination_place: null, destination_is_station: false, origin_place: null, origin_is_station: false, passengers: 1, requested_arrival_time: null, is_location_shared: false, parse_error: true }; }\nreturn [{ json: intent }];"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $node[\"Parse Intent\"].json.destination_is_station }}",
              "operator": {
                "operation": "false",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Check Destination Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        -64
      ]
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/search?q={{ encodeURIComponent($node[\"Parse Intent\"].json.destination_place + \" Kochi\") }}&format=json&limit=1&countrycodes=in",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "MetroMind/1.0"
            }
          ]
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Resolve Destination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        -128
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://mindmetroapi.midhunapi.me/gtfs-data",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Load GTFS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2592,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// ====== PROCESS QUERY ======\nconst pre = $('Execute Workflow Trigger').first().json;\nconst intent = $('Parse Intent').first().json;\nconst gtfs = $('Load GTFS').first().json;\n\n// stations is a DICT: { \"Aluva\": {id, lat, lon, zone}, \"Pulinchodu\": {...}, ... }\nconst stationsObj = gtfs.stations || {};\n// Convert to array with name property for easier processing\nconst stations = Object.entries(stationsObj).map(([name, data]) => ({ name, ...data }));\nconst line = gtfs.line || [];\nconst schedule = gtfs.schedule || [];\nconst fares = gtfs.fares || {};\n\nconst passengers = intent.passengers ?? 1;\n\nfunction matchStation(searchName) {\n    if (!searchName) return null;\n    const s1 = String(searchName).toLowerCase().replace(/[^a-z0-9]/g, '');\n    for (const st of stations) {\n        const s2 = String(st.name).toLowerCase().replace(/[^a-z0-9]/g, '');\n        if (s1 === s2) return st;  // exact match first\n    }\n    for (const st of stations) {\n        const s2 = String(st.name).toLowerCase().replace(/[^a-z0-9]/g, '');\n        if (s1.includes(s2) || s2.includes(s1)) return st;\n    }\n    return null;\n}\n\nfunction isValidCoord(v) {\n    if (v === null || v === undefined) return false;\n    const s = String(v).trim();\n    if (s === '' || s === 'null' || s === 'undefined' || s === 'NaN') return false;\n    const n = parseFloat(s);\n    return !isNaN(n) && isFinite(n) && n !== 0;\n}\n\nfunction extractCoordsFromText(text) {\n    if (!text) return null;\n    const s = String(text);\n    const patterns = [\n        /\\[User location:\\s*([\\d.]+)\\s*,\\s*([\\d.]+)\\s*\\]/i,\n        /\\[COORDS:\\s*([\\d.]+)\\s*,\\s*([\\d.]+)\\s*\\]/i,\n        /^\\s*([\\d]+\\.\\d{3,})\\s*[,\\s]\\s*([\\d]+\\.\\d{3,})/m,\n        /([\\d]+\\.\\d{3,})\\s*[,\\s]\\s*([\\d]+\\.\\d{3,})/\n    ];\n    for (const p of patterns) {\n        const m = s.match(p);\n        if (m) {\n            const lat = parseFloat(m[1]);\n            const lon = parseFloat(m[2]);\n            if (lat >= 8 && lat <= 13 && lon >= 74 && lon <= 78) return { lat, lon };\n            if (lon >= 8 && lon <= 13 && lat >= 74 && lat <= 78) return { lat: lon, lon: lat };\n        }\n    }\n    return null;\n}\n\n// ORIGIN INPUT\nlet originLat = null;\nlet originLon = null;\nlet originIsLocationPin = false;\n\n// Priority 1: Direct coordinates from trigger\nif (isValidCoord(pre.latitude) && isValidCoord(pre.longitude)) {\n    originLat = parseFloat(pre.latitude);\n    originLon = parseFloat(pre.longitude);\n    originIsLocationPin = true;\n}\n// Priority 2: Coordinates in userMessage text\nif (originLat === null) {\n    const fromMsg = extractCoordsFromText(pre.userMessage);\n    if (fromMsg) { originLat = fromMsg.lat; originLon = fromMsg.lon; originIsLocationPin = true; }\n}\n// Priority 3: Origin is a named station\nif (originLat === null && intent.origin_is_station && intent.origin_place) {\n    const station = matchStation(intent.origin_place);\n    if (station) { originLat = station.lat; originLon = station.lon; }\n}\n// Priority 4: Origin was geocoded\nif (originLat === null) {\n    try { const nom = $('Resolve Origin').first().json; if (isValidCoord(nom.lat)) { originLat = parseFloat(nom.lat); originLon = parseFloat(nom.lon); } } catch(e) {}\n}\nif (originLat === null) {\n    try { const ph = $('Fallback Origin').first().json; if (ph && ph.features && ph.features.length > 0) { const c = ph.features[0].geometry.coordinates; originLat = c[1]; originLon = c[0]; } } catch(e) {}\n}\n\nif (originLat === null || originLon === null) return [{ json: { error: 'no_origin' } }];\n\n// DESTINATION INPUT\nlet destLat = null;\nlet destLon = null;\nconst destName = intent.destination_place || 'Destination';\n\n// Station match first\nif (intent.destination_is_station && intent.destination_place) {\n    const station = matchStation(intent.destination_place);\n    if (station) { destLat = station.lat; destLon = station.lon; }\n}\n// Geocoded fallback\nif (destLat === null) {\n    try { const nom = $('Resolve Destination').first().json; if (isValidCoord(nom.lat)) { destLat = parseFloat(nom.lat); destLon = parseFloat(nom.lon); } } catch(e) {}\n}\nif (destLat === null) {\n    try { const ph = $('Fallback Destination').first().json; if (ph && ph.features && ph.features.length > 0) { const c = ph.features[0].geometry.coordinates; destLat = c[1]; destLon = c[0]; } } catch(e) {}\n}\n\nif (destLat === null || destLon === null) return [{ json: { error: 'dest_not_found' } }];\n\n// HELPERS\nfunction haversine(lat1, lon1, lat2, lon2) {\n    const R = 6371;\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLon = (lon2 - lon1) * Math.PI / 180;\n    const a = Math.sin(dLat/2)**2 + Math.cos(lat1*Math.PI/180)*Math.cos(lat2*Math.PI/180)*Math.sin(dLon/2)**2;\n    return R * 2 * Math.asin(Math.sqrt(a));\n}\n\nfunction findClosestStation(lat, lon) {\n    let closest = null, minDist = Infinity;\n    for (const s of stations) {\n        const d = haversine(lat, lon, s.lat, s.lon);\n        if (d < minDist) { minDist = d; closest = s; }\n    }\n    return closest;\n}\n\nconst entryStation = findClosestStation(originLat, originLon);\nconst exitStation = findClosestStation(destLat, destLon);\n\nif (!entryStation || !exitStation) return [{ json: { error: 'station_not_found' } }];\nif (entryStation.name === exitStation.name) return [{ json: { error: 'same_station', entryStation: entryStation.name } }];\n\n// TRAVEL TIMES\nconst distToEntry = haversine(originLat, originLon, entryStation.lat, entryStation.lon);\nconst toEntryWalk = Math.max(1, Math.round((distToEntry / 5) * 60));\nconst toEntryVehicle = Math.max(1, Math.round((distToEntry / 20) * 60));\n\nconst distFromExit = haversine(exitStation.lat, exitStation.lon, destLat, destLon);\nconst fromExitWalk = Math.max(1, Math.round((distFromExit / 5) * 60));\nconst fromExitVehicle = Math.max(1, Math.round((distFromExit / 20) * 60));\n\nlet stopCount = 0;\nconst entryIndex = line.indexOf(entryStation.name);\nconst exitIndex = line.indexOf(exitStation.name);\nif (entryIndex !== -1 && exitIndex !== -1) stopCount = Math.abs(entryIndex - exitIndex);\n\n// SCHEDULE — offset by time to reach station\nconst now = new Date();\nconst utcNow = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst istNow = new Date(utcNow + (330 * 60000));\nconst arrivalAtStation = new Date(istNow.getTime() + (toEntryVehicle * 60000));\nconst arrH = arrivalAtStation.getHours(), arrM = arrivalAtStation.getMinutes(), arrS = arrivalAtStation.getSeconds();\nconst arrivalTimeStr = `${String(arrH).padStart(2,'0')}:${String(arrM).padStart(2,'0')}:${String(arrS).padStart(2,'0')}`;\n\nlet entrySchedules = [];\nif (Array.isArray(schedule)) {\n    entrySchedules = schedule.filter(s => s.stop_id === entryStation.id || s.stop_id === entryStation.name);\n} else if (schedule[entryStation.id] || schedule[entryStation.name]) {\n    const arr = schedule[entryStation.id] || schedule[entryStation.name];\n    entrySchedules = arr.map(t => ({ stop_id: entryStation.id, departure_time: t.time || t.departure_time || t }));\n}\nentrySchedules = entrySchedules.filter(s => (s.departure_time || '') >= arrivalTimeStr);\nentrySchedules.sort((a,b) => (a.departure_time||'').localeCompare(b.departure_time||''));\n\nconst nextTrain = entrySchedules.length > 0 ? entrySchedules[0] : null;\nlet metroMinutes = 0, scheduleUsed = false, nextDepartureTime = 'N/A';\n\nconst parseTime = t => { const p = typeof t==='string'?t.split(':').map(Number):[0,0]; return p[0]*60+p[1]+(p[2]||0)/60; };\n\nif (nextTrain) {\n    nextDepartureTime = (nextTrain.departure_time || '').slice(0,5);\n    let exitSch = null;\n    if (nextTrain.trip_id && Array.isArray(schedule)) {\n        exitSch = schedule.find(s => s.trip_id === nextTrain.trip_id && (s.stop_id === exitStation.id || s.stop_id === exitStation.name));\n    }\n    if (exitSch) {\n        metroMinutes = Math.max(1, Math.round(Math.abs(parseTime(exitSch.departure_time) - parseTime(nextTrain.departure_time))));\n        scheduleUsed = true;\n    } else {\n        metroMinutes = Math.max(1, Math.round(stopCount * 2.5));\n    }\n} else {\n    metroMinutes = Math.max(1, Math.round(stopCount * 2.5));\n}\n\nconst totalWalk = toEntryWalk + metroMinutes + fromExitWalk;\nconst totalVehicle = toEntryVehicle + metroMinutes + fromExitVehicle;\n\n// FARE\nlet fare = 0;\nconst key = `${entryStation.zone}_${exitStation.zone}`;\nif (fares[key]) fare = fares[key] * passengers;\nelse if (fares[stopCount]) fare = fares[stopCount] * passengers;\nelse {\n    const dist = haversine(entryStation.lat, entryStation.lon, exitStation.lat, exitStation.lon);\n    fare = (dist<=2?10:dist<=5?20:dist<=10?30:dist<=15?40:dist<=20?50:60) * passengers;\n}\n\nreturn [{\n    json: {\n        entryStation: entryStation.name,\n        exitStation: exitStation.name,\n        entryLat: entryStation.lat,\n        entryLon: entryStation.lon,\n        exitLat: exitStation.lat,\n        exitLon: exitStation.lon,\n        originLat, originLon,\n        originIsLocationPin,\n        originPlace: intent.origin_place || null,\n        destLat, destLon,\n        destName,\n        fare, passengers,\n        toEntryWalk, toEntryVehicle,\n        metroMinutes,\n        fromExitWalk, fromExitVehicle,\n        totalWalk, totalVehicle,\n        scheduleUsed, nextDepartureTime,\n        nextTrains: [nextDepartureTime],\n        stopCount,\n        error: null\n    }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Process Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.item ? $input.item.json : $json;\n\nif (q.error === 'no_origin') {\n  return [{ json: { replyMessage: '📍 Where are you starting from? Share your live location or type a place name \\n(e.g. \\'from Kakkanad\\' or \\'from Aluva station\\')' } }];\n}\nif (q.error === 'dest_not_found') {\n  return [{ json: { replyMessage: '❌ Could not find that destination. Please try again with a clearer name.' } }];\n}\nif (q.error === 'same_station') {\n  return [{ json: { replyMessage: `📍 Your origin and destination are both closest to ${q.entryStation} station. You might not need the metro for this trip!` } }];\n}\nif (q.error) {\n  return [{ json: { replyMessage: '⚠️ Something went wrong planning your route. Please try again.' } }];\n}\n\n// Build Google Maps URL with names, except origin uses coords if from a location pin\nconst originPart = q.originIsLocationPin\n  ? `${q.originLat},${q.originLon}`\n  : encodeURIComponent(q.originPlace || `${q.originLat},${q.originLon}`);\nconst entryPart = encodeURIComponent(`${q.entryStation} Metro Station, Kochi`);\nconst exitPart = encodeURIComponent(`${q.exitStation} Metro Station, Kochi`);\nconst destPart = encodeURIComponent(`${q.destName}, Kochi`);\n\nconst mapsUrl = `https://www.google.com/maps/dir/${originPart}/${entryPart}/${exitPart}/${destPart}`;\n\nlet reply = `📍 ${q.entryStation} → ${q.exitStation}`;\nreply += `\\n💰 ₹${q.fare}`;\nif (q.passengers > 1) reply += ` (${q.passengers} passengers)`;\nreply += `\\n\\n🗺 Getting there:`;\nreply += `\\n~${q.toEntryWalk} min walk or ~${q.toEntryVehicle} min by vehicle to ${q.entryStation}`;\nreply += `\\n\\n🚇 Metro ride: ~${q.metroMinutes} min (${q.stopCount} stops)`;\nreply += `\\nNext train: ${q.nextDepartureTime}`;\nreply += `\\n\\n🏁 From ${q.exitStation} to ${q.destName}:`;\nreply += `\\n~${q.fromExitWalk} min walk or ~${q.fromExitVehicle} min by vehicle`;\nreply += `\\n\\n⏱ Total estimate:`;\nreply += `\\n~${q.totalWalk} min (walking) | ~${q.totalVehicle} min (vehicle)`;\nreply += `\\n\\n🗺 View full route on Maps:`;\nreply += `\\n${mapsUrl}`;\n\nif (q.scheduleUsed === false) {\n  reply += `\\n\\n⚠️ Train time is estimated (live schedule unavailable)`;\n}\n\nreturn [{ json: { replyMessage: reply } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $node[\"Parse Intent\"].json.origin_is_station }}",
              "operator": {
                "operation": "false",
                "singleValue": true,
                "type": "boolean"
              },
              "id": "condition-1784349296349-30aooi9xk"
            },
            {
              "leftValue": "={{ !!$node[\"Parse Intent\"].json.origin_place }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "id": "condition-1784349296350-ro84fgfpw"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "052beaaf-21e5-4d76-987e-74f86e792682",
      "name": "Check Origin Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -64
      ]
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/search?q={{ encodeURIComponent($node[\"Parse Intent\"].json.origin_place + \" Kerala\") }}&format=json&limit=1&countrycodes=in",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "MetroMind/1.0"
            }
          ]
        },
        "options": {}
      },
      "id": "ec03acf3-7daf-43e2-beb5-6be3d3dce672",
      "name": "Resolve Origin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -128
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Object.keys($json).length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "id": "condition-1784350688181-472gxr3mx"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "2a0955c3-db7f-4c69-9c05-fa7f660c280f",
      "name": "Check Origin Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        -128
      ]
    },
    {
      "parameters": {
        "url": "=https://photon.komoot.io/api/?q={{ encodeURIComponent($node[\"Parse Intent\"].json.origin_place + \" Kerala\") }}&limit=1",
        "options": {}
      },
      "id": "551e4f11-4020-4642-abcd-b2b5ec7fbc3e",
      "name": "Fallback Origin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1472,
        -208
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Object.keys($json).length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "id": "condition-1784350688181-rl5wpbpsw"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "08456566-9fd0-47da-bbcf-8b6bbe6b8cf2",
      "name": "Check Dest Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        -128
      ]
    },
    {
      "parameters": {
        "url": "=https://photon.komoot.io/api/?q={{ encodeURIComponent($node[\"Parse Intent\"].json.destination_place + \" kochi\") }}&limit=1",
        "options": {}
      },
      "id": "911970ee-fe11-4bc9-b048-e4f8c508cc88",
      "name": "Fallback Destination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2368,
        -208
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Destination Type": {
      "main": [
        [
          {
            "node": "Resolve Destination",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load GTFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load GTFS": {
      "main": [
        [
          {
            "node": "Process Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVIDIA Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Check Origin Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Origin Type": {
      "main": [
        [
          {
            "node": "Resolve Origin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Destination Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Destination Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Origin": {
      "main": [
        [
          {
            "node": "Check Origin Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Origin Resolved": {
      "main": [
        [
          {
            "node": "Check Destination Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Origin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Origin": {
      "main": [
        [
          {
            "node": "Check Destination Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Destination": {
      "main": [
        [
          {
            "node": "Check Dest Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dest Resolved": {
      "main": [
        [
          {
            "node": "Load GTFS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Destination": {
      "main": [
        [
          {
            "node": "Load GTFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Query": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "fef1a186-a9e3-44e6-b0db-eaa00962bf19",
  "activeVersionId": "fef1a186-a9e3-44e6-b0db-eaa00962bf19",
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-18T19:31:39.213Z",
      "createdAt": "2026-07-18T19:31:39.213Z",
      "role": "workflow:owner",
      "workflowId": "JFo1LesPFGVpNNf6",
      "projectId": "sJbRQ0D9Xds02Xje",
      "project": {
        "updatedAt": "2026-07-13T09:24:08.945Z",
        "createdAt": "2026-07-13T09:07:47.549Z",
        "id": "sJbRQ0D9Xds02Xje",
        "name": "Midhum P M <midhun.titan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2b388edf-817e-4ea0-8337-b81ca8658893"
      }
    }
  ],
  "tags": []
}
