n8n-workflows/workflow_whatsapp_agent_v2.json
{
  "updatedAt": "2026-07-18T20:53:24.346Z",
  "createdAt": "2026-07-18T19:32:31.254Z",
  "id": "E0of3uHP7u65TWBZ",
  "name": "MetroMind — WhatsApp Agent V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "twilio-whatsapp",
        "responseMode": "onReceived"
      },
      "id": "3e7aaffb-4f88-4f6e-9d21-65ae8813b7e1",
      "name": "Twilio WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        656
      ],
      "webhookId": "020244c1-475d-4694-a309-065b4ba953d8",
      "credentials": {
        "twilioApi": {
          "id": "Oqhyt7ABrzQRs3J4",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json.data || $input.item.json.body || $input.item.json;\n\nconst normalizeNumber = val =>\n  String(val ?? '').replace(/^whatsapp:/i, '');\n\nconst rawMessage = String(item?.body ?? item?.Body ?? '').trim();\nconst mediaCount = Number(item?.numMedia ?? item?.NumMedia ?? 0);\nconst phoneNumber = normalizeNumber(item?.from ?? item?.From ?? '');\nconst twilioFrom = normalizeNumber(item?.to ?? item?.To ?? '');\nconst latitude = (item?.latitude ?? item?.Latitude) ? parseFloat(item?.latitude ?? item?.Latitude) : null;\nconst longitude = (item?.longitude ?? item?.Longitude) ? parseFloat(item?.longitude ?? item?.Longitude) : null;\n\nlet userMessage = rawMessage;\nif (latitude !== null && longitude !== null) {\n  if (!userMessage) {\n    userMessage = `[User shared a location: ${latitude}, ${longitude}]`;\n  } else {\n    userMessage += `\\n[User shared a location: ${latitude}, ${longitude}]`;\n  }\n}\n\nreturn [{\n  json: {\n    phoneNumber,\n    twilioFrom,\n    userMessage,\n    mediaCount,\n    isTextOnly: mediaCount === 0 && userMessage.length > 0,\n    hasLocation: latitude !== null && longitude !== null,\n    latitude,\n    longitude,\n    receivedAt: item?.timestamp ?? $now.toISO(),\n  }\n}];"
      },
      "id": "8f2ca6cb-1756-4fd9-aa2b-ddf152529b82",
      "name": "Preprocess Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        656
      ],
      "notes": "Normalizes Twilio’s inbound event once, preserves the sender identity, and deliberately keeps media out of the AI context."
    },
    {
      "id": "d4fa8e16-7d5d-41c8-935c-b1eca9ddae1e",
      "name": "Call Brain Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1328,
        656
      ],
      "parameters": {
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "TWtAE4ji8Pk6bjF6"
        },
        "workflowInputs": {
          "mappingMode": "passThrough"
        }
      }
    },
    {
      "id": "83efc007-18cb-42e8-94be-d5e1a259d5d7",
      "name": "Twilio Thinking",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1104,
        656
      ],
      "parameters": {
        "from": "={{ 'whatsapp:' + $json.twilioFrom }}",
        "message": "🚇 *MetroMind is thinking...*",
        "operation": "send",
        "resource": "sms",
        "to": "={{ 'whatsapp:' + $json.phoneNumber }}"
      },
      "credentials": {
        "twilioApi": {
          "id": "Oqhyt7ABrzQRs3J4",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Twilio WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Preprocess Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Message": {
      "main": [
        [
          {
            "node": "Call Brain Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twilio Thinking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "7214d90e-aa4b-4fc9-a83b-10b7f70031b4",
  "activeVersionId": "7214d90e-aa4b-4fc9-a83b-10b7f70031b4",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-18T19:32:31.258Z",
      "createdAt": "2026-07-18T19:32:31.258Z",
      "role": "workflow:owner",
      "workflowId": "E0of3uHP7u65TWBZ",
      "projectId": "sJbRQ0D9Xds02Xje",
      "project": {
        "updatedAt": "2026-07-13T09:24:08.945Z",
        "createdAt": "2026-07-13T09:07:47.549Z",
        "id": "sJbRQ0D9Xds02Xje",
        "name": "Midhum P M <midhun.titan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2b388edf-817e-4ea0-8337-b81ca8658893"
      }
    }
  ],
  "tags": []
}
