n8n-workflows/workflow_book_ticket_v2.json
{
  "updatedAt": "2026-07-18T19:34:16.810Z",
  "createdAt": "2026-07-18T19:30:31.845Z",
  "id": "6UrhBMlmTBkbk5JD",
  "name": "Tool: Book Kochi Metro Ticket V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://mindmetroapi.midhunapi.me/book",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, origin: $json.origin, destination: $json.destination, passengers: $json.passengers }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "maxTries": 2,
      "name": "Book Kochi Metro",
      "position": [
        448,
        336
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput",
      "notes": "Calls the Kochi Metro booking API.\nPOST https://mindmetroapi.midhunapi.me/book\nRetries once on failure (3s delay). Timeout: 30s."
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "success-check-condition",
              "leftValue": "={{ $json.success }}",
              "operator": {
                "operation": "equals",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Booking Successful?",
      "position": [
        672,
        256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "notes": "Checks if the booking API returned success: true."
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "origin"
            },
            {
              "name": "destination"
            },
            {
              "name": "passengers",
              "type": "number"
            }
          ]
        }
      },
      "id": "1e5f69cc-e8cb-44dc-aede-271349bfbaba",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "={{ $json.success }}"
            },
            {
              "id": "payment_url",
              "name": "payment_url",
              "type": "string",
              "value": "={{ $json.payment_url || $json.url || $json.deeplink || '' }}"
            },
            {
              "id": "fare",
              "name": "fare",
              "type": "string",
              "value": "={{ $json.fare || '' }}"
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error || $json.message || '' }}"
            },
            {
              "id": "origin",
              "name": "origin",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.origin }}"
            },
            {
              "id": "destination",
              "name": "destination",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.destination }}"
            },
            {
              "id": "passengers",
              "name": "passengers",
              "type": "number",
              "value": "={{ $('When Executed by Another Workflow').first().json.passengers }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2042befc-eb64-4912-9e09-c696a1265748",
      "name": "Return Booking Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": false
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error || $json.message || $json.statusMessage || 'The booking service is temporarily unavailable' }}"
            },
            {
              "id": "origin",
              "name": "origin",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.origin }}"
            },
            {
              "id": "destination",
              "name": "destination",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.destination }}"
            },
            {
              "id": "passengers",
              "name": "passengers",
              "type": "number",
              "value": "={{ $('When Executed by Another Workflow').first().json.passengers }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9de78c9c-ffad-4c24-bef3-b1582822900a",
      "name": "Return Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        432
      ]
    }
  ],
  "connections": {
    "Book Kochi Metro": {
      "main": [
        [
          {
            "index": 0,
            "node": "Booking Successful?",
            "type": "main"
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Book Kochi Metro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Successful?": {
      "main": [
        [
          {
            "node": "Return Booking Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "cb982dd0-8ffe-4e52-b4b7-a309673de82d",
  "activeVersionId": "cb982dd0-8ffe-4e52-b4b7-a309673de82d",
  "versionCounter": 2,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-18T19:30:31.852Z",
      "createdAt": "2026-07-18T19:30:31.852Z",
      "role": "workflow:owner",
      "workflowId": "6UrhBMlmTBkbk5JD",
      "projectId": "sJbRQ0D9Xds02Xje",
      "project": {
        "updatedAt": "2026-07-13T09:24:08.945Z",
        "createdAt": "2026-07-13T09:07:47.549Z",
        "id": "sJbRQ0D9Xds02Xje",
        "name": "Midhum P M <midhun.titan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2b388edf-817e-4ea0-8337-b81ca8658893"
      }
    }
  ],
  "tags": []
}
