n8n-workflows/workflow_whatsapp_agent.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-07-18T06:10:05.489Z",
    "createdAt": "2026-07-16T18:41:49.677Z",
    "id": "F2mHsGk4JYlyhH32",
    "name": "MetroMind — WhatsApp Agent",
    "description": "MetroMind is a modular WhatsApp AI agent for Kochi Metro, using OpenRouter GPT-4, Simple Memory, tool calling, resilient media handling, and optional Google Sheets logging.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "twilio-whatsapp",
          "responseMode": "onReceived"
        },
        "id": "3e7aaffb-4f88-4f6e-9d21-65ae8813b7e1",
        "name": "Twilio WhatsApp Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          656,
          656
        ],
        "webhookId": "020244c1-475d-4694-a309-065b4ba953d8",
        "credentials": {
          "twilioApi": {
            "id": "Oqhyt7ABrzQRs3J4",
            "name": "Twilio account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.item.json.data || $input.item.json.body || $input.item.json;\n\nconst normalizeNumber = val =>\n  String(val ?? '').replace(/^whatsapp:/i, '');\n\nconst rawMessage = String(item?.body ?? item?.Body ?? '').trim();\nconst mediaCount = Number(item?.numMedia ?? item?.NumMedia ?? 0);\nconst phoneNumber = normalizeNumber(item?.from ?? item?.From ?? '');\nconst twilioFrom = normalizeNumber(item?.to ?? item?.To ?? '');\nconst latitude = (item?.latitude ?? item?.Latitude) ? parseFloat(item?.latitude ?? item?.Latitude) : null;\nconst longitude = (item?.longitude ?? item?.Longitude) ? parseFloat(item?.longitude ?? item?.Longitude) : null;\n\nlet userMessage = rawMessage;\nif (latitude !== null && longitude !== null) {\n  if (!userMessage) {\n    userMessage = `[User shared a location: ${latitude}, ${longitude}]`;\n  } else {\n    userMessage += `\\n[User shared a location: ${latitude}, ${longitude}]`;\n  }\n}\n\nreturn [{\n  json: {\n    phoneNumber,\n    twilioFrom,\n    userMessage,\n    mediaCount,\n    isTextOnly: mediaCount === 0 && userMessage.length > 0,\n    hasLocation: latitude !== null && longitude !== null,\n    latitude,\n    longitude,\n    receivedAt: item?.timestamp ?? $now.toISO(),\n  }\n}];"
        },
        "id": "8f2ca6cb-1756-4fd9-aa2b-ddf152529b82",
        "name": "Preprocess Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          656
        ],
        "notes": "Normalizes Twilio’s inbound event once, preserves the sender identity, and deliberately keeps media out of the AI context."
      },
      {
        "id": "8a809647-8b30-4ffd-b102-32897282b1d6",
        "name": "Discord Webhook Thinking",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1104,
          656
        ],
        "parameters": {
          "authentication": "webhook",
          "content": "🚇 *MetroMind is thinking...*",
          "operation": "sendLegacy"
        },
        "credentials": {
          "discordWebhookApi": {
            "id": "dHryeTl5pCCx9SnN",
            "name": "Discord Webhook account"
          }
        },
        "webhookId": "23c86d1b-a740-404a-ae14-c7c2e08fb315"
      },
      {
        "id": "d4fa8e16-7d5d-41c8-935c-b1eca9ddae1e",
        "name": "Call Brain Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1328,
          656
        ],
        "parameters": {
          "mode": "once",
          "options": {
            "waitForSubWorkflow": false
          },
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "xfeqAhfLhWYUABBf"
          },
          "workflowInputs": {
            "mappingMode": "passThrough"
          }
        }
      }
    ],
    "connections": {
      "Twilio WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Preprocess Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preprocess Message": {
        "main": [
          [
            {
              "node": "Discord Webhook Thinking",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call Brain Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "binaryMode": "separate"
    },
    "staticData": {
      "node:Twilio WhatsApp Trigger": {
        "sinkId": "DG56eadd4b5216c917b8e7840f8966304f",
        "subscriptionId": "DF6313f61ad47ffcb54197f789084b9910"
      }
    },
    "meta": {
      "aiBuilderAssisted": true,
      "builderVariant": "mcp",
      "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "71c2fedf-53dc-478b-85fc-497001493c1f",
    "activeVersionId": "71c2fedf-53dc-478b-85fc-497001493c1f",
    "versionCounter": 61,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "shared": [
      {
        "updatedAt": "2026-07-16T18:41:49.680Z",
        "createdAt": "2026-07-16T18:41:49.680Z",
        "role": "workflow:owner",
        "workflowId": "F2mHsGk4JYlyhH32",
        "projectId": "sJbRQ0D9Xds02Xje",
        "project": {
          "updatedAt": "2026-07-13T09:24:08.945Z",
          "createdAt": "2026-07-13T09:07:47.549Z",
          "id": "sJbRQ0D9Xds02Xje",
          "name": "Midhum P M <midhun.titan@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "2b388edf-817e-4ea0-8337-b81ca8658893"
        }
      }
    ],
    "tags": []
  }
}